<form id="logIn_form">
  <div class="formContent">
       <h2><%-title%></h2>
       <label class="fa fa-user" id="login_lab" aria-hidden="true">&nbsp;<%-auth_lab%></label><br>
       <input name="name" type="text" id="login_name" placeholder="Логин"><br><br>
       <button id="enter" type="submit">
           <span class="fa fa-sign-in fa-lg" aria-hidden="true"></span>&nbsp;<%-auth_button%>
       </button>
       <button id="sign-in" type="button">
            <span class="fa fa-user-plus fa-lg" aria-hidden="true"></span>&nbsp; <%-reg_button%>
       </button>
  </div>
</form>
