<button type="button" id="add-app">
     <span class="fa fa-plus"></span>&nbsp;Добавить заявку
</button>
<button type="button" id="exit">
     <span class="fa fa-power-off"></span>&nbsp; Выйти
</button>
