<form id="reg_form">
  <div class="formContent">
      <h2><%-title%></h2>
      <label id="reg_lab" class="fa fa-user" aria-hidden="true">&nbsp;<%-reg_lab%></label><br>
      <input type="text" id="reg_name" placeholder="Логин"><br><br>
      <button id="create_ac" type="submit">
          <span class="fa fa-user-plus fa-lg" aria-hidden="true"></span>&nbsp;<%-reg_button%>
      </button>

      <button id="cancel-reg" type="button">
          <span class="fa fa-close fa-lg" aria-hidden="true"></span>&nbsp;<%-cancel_button%>
      </button>
  </div>
</form>
