
<div class="theme_name">Название темы:</div>
<input type="text" id="theme">
<span>Подтвердите, пожалуйста, что Вы не робот! Введите число </span>
<span class="random"></span>
<input type="text" class="captcha"><br/>

<button class="button_create">Создать тему</button>
